<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unknown.bluebattery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="unknown.bluebattery.permission.BlueBatteryService" />

    <application
        android:icon="@drawable/blue_battery"
        android:label="@string/application_name" >
        <activity android:name=".EnterActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".InitializeBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BlueBatteryService"
            android:enabled="true" >
        </service>
    </application>

</manifest>